<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeleHotel"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.TeleHotel"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad para la selección de roles (RoleSelectionActivity) -->
        <activity
            android:name=".RoleSelectionActivity"
            android:label="Seleccionar Rol" />

        <!-- Actividad para Admin -->
        <activity
            android:name=".admin.AdminActivity"
            android:label="Admin" />

        <!-- Actividad para Superadmin -->
        <activity
            android:name=".superadmin.SuperAdminActivity"
            android:label="Superadmin" />

        <!-- Actividad para Taxista -->
        <activity
            android:name=".taxista.TaxistaActivity"
            android:label="Taxista" />

        <!-- Actividad para Cliente -->
        <activity
            android:name=".cliente.ClienteActivity"
            android:label="Cliente" />



    </application>

</manifest>